<h1>Square Calculation</h1>

<form action="/square/results?user_number">
  <label for="number"> Enter a number</label>
  <input id = "number" type="text" name="user_number">
  <button>Calculate square</button>
</form>