<h1>Payment Calculation</h1>

<form action="/payment/results?user_number">
  <label for="apr_field"> APR</label>
  <input id = "apr_field" placeholder = "e.g. something something" type="text" name="user_apr">
  <label for="years_field"> Number of years</label>
  <input id = "years_field" type="text" name="user_years">
  <label for="pv_field"> Principal</label>
  <input id = "pv_field" type="text" name="user_pv">
  <button>Calculate monthly payment</button>
</form>