<h1>Square Root Results</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= number_to_percentage(@apr*1200, :precision=>4) %>
  </dd>
  <dt>
    Number of Years
  </dt>
  <dd>
    <%= @duration %>
  </dd>
  <dt>
    Principal
  </dt>
  <dd>
    <%= number_to_currency(@principal) %>
  </dd>
  <dt>
    Payment
  </dt>
  <dd>
    <%= number_to_currency(@payment) %>
  </dd>
  <a href="/payment/new">Calculate another payment</a>
</dl>