<h1>Payment Calculation</h1>

<form action="/random/results">
  <label for="min_field"> Minimum</label>
  <input id = "min_field" placeholder = "e.g. something something" type="text" name="user_min">
  <label for="max_field"> Maximum</label>
  <input id = "max_field" type="text" name="user_max">
  <button>Pick random number</button>
</form>