<h1>Square Root Calculation</h1>

<form action="/square_root/results?user_number">
  <label for="number"> Enter a number</label>
  <input id = "number" type="text" name="user_number">
  <button>Calculate square root</button>
</form>